<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}" />
<link rel="apple-touch-icon" href="{{asset "img/favicon.ico"}}" />

<link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

<!--Lazy load. change this later-->
   <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>


<!--Defining additional ghost getters-->

