<div class="c-mobile-header">
    <a href="#" id="mobile-menu" class="c-mobile-header__link" title="Menu">
        <img class="c-mobile-menu__logo" src="{{asset "img/burger_icon.png"}}">
    </a>

    <a class="c-mobile-header__logo" href="{{@blog.url}}" title="{{@blog.title}}">
        <img class="c-mobile-header__logo__image" src="{{asset "img/header_mobile.png"}}" alt="{{@blog.title}}">
        
    </a>
</div>